<input class="hidden" type="text" name="id" value="{{tracker.id}}">
<div class="form-group">
    <label>{{i18n 'menu.name.label'}}</label>
    <div class="form-fields">
        <input type="text" name="name" value="{{tracker.name}}"
            placeholder="{{i18n 'menu.name.default'}}">
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.min'}}</label>
    <div class="form-fields">
        <input type="number" name="min" value="{{tracker.min}}" min="0" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.max'}}</label>
    <div class="form-fields">
        <input type="number" name="max" value="{{tracker.max}}" min="0" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.current'}}</label>
    <div class="form-fields">
        <input type="number" name="value" value="{{tracker.value}}" min="0" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.mode.label'}}</label>
    <div class="form-fields">
        <select name="mode">
            <option value="meter" {{#if (eq tracker.mode "meter") }} selected {{/if}}>{{i18n 'menu.mode.meter'}}</option>
            <option value="pips" {{#if (eq tracker.mode "pips") }} selected {{/if}}>{{i18n 'menu.mode.pips'}}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.pippath.label'}}</label>
    <div class="form-fields">
        <file-picker name="pipImagePath" type="imagevideo" value="{{tracker.pipImagePath}}" placeholder="{{i18n "menu.pippath.placeholder"}}"></file-picker>
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.skills.label'}}</label>
    <div class="form-fields">
        <multi-checkbox name="skills">
        {{#each skillChoices as |skillChoice|}}
            <option value="{{skillChoice.slug}}" {{#contains skillChoice.slug ../tracker.skills}}selected{{/contains}}>{{localize skillChoice.label}}</option>
        {{/each}}
        </multi-checkbox>
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.stepMode.label'}}</label>
    <div class="form-fields">
        <select name="stepMode">
            <option value="accumulating" {{#if (eq tracker.stepMode "accumulating") }} selected {{/if}}>{{i18n 'menu.stepMode.accumulating'}}</option>
            <option value="diminishing" {{#if (eq tracker.stepMode "diminishing") }} selected {{/if}}>{{i18n 'menu.stepMode.diminishing'}}</option>
            <option value="manual" {{#if (eq tracker.stepMode "manual") }} selected {{/if}}>{{i18n 'menu.stepMode.manual'}}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'step'}}</label>
    <div class="form-fields">
        <input type="number" name="step" value="{{tracker.step}}" min="1" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'shiftMultiplier'}}</label>
    <div class="form-fields">
        <input type="number" name="shiftMultiplier" value="{{tracker.shiftMultiplier}}" min="0">
    </div>
</div>
<div class="form-group">
    <label>{{i18n 'menu.visible'}}</label>
    <div class="form-fields">
        <input type="checkbox" name="visible" {{checked tracker.visible}}>
    </div>
</div>
{{#if isEdit}}
<div class="delete">
    <label>{{i18n 'menu.delete'}}</label>
    <input type="checkbox" name="delete">
</div>
{{/if}}