{{#each worldTrackers as |tracker|}}
{{> 'tracker-row' tracker=tracker skillsMap=@root.skillsMap isOwner=@root.isGM}}
{{/each}}

{{#*inline 'tracker-row'}}
<div class="tracker" data-tracker-id="{{tracker.id}}"
    style="--ratio: {{tracker.ratio}};">
    <div class="name">
        {{#if @root.isGM }}
        <i class="{{#if tracker.visible}}visible {{/if}}fa-solid fa-eye"></i>
        {{/if}}
        {{tracker.name}}
    </div>
    {{#if (eq tracker.mode "meter")}}
    <div class="stats">
        <div class="filler"></div>
        <div class="min">{{tracker.min}}</div>
        <div class="max">{{tracker.max}}</div>
        <div class="value">{{tracker.value}}</div>
    </div>
    {{/if}}
    {{#if (eq tracker.mode "pips")}}
    <div class="pips">
        {{#repeat tracker.value }}
        <img src="{{tracker.pipImagePath}}" alt="Pip" />
        {{/repeat }}
    </div>
    {{/if}}
    {{#if (gt skills.length 0)}}
        <div class="skill-display">
            {{#each skills as |skill|}}
                <p class="skill">{{localize (lookup ../skillsMap skill)}}</p>
            {{/each}}
        </div>
    {{/if}}
    {{#if isOwner}}
        {{#if (eq tracker.stepMode "manual")}}
        <a class="decrease" data-action="decrease-points" data-tooltip="{{tracker.decrease}}">
            <i class="fa-solid fa-minus"></i>
        </a>
        <a class="increase" data-action="increase-points" data-tooltip="{{tracker.increase}}">
            <i class="fa-solid fa-plus"></i>
        </a>
        {{else}}
            <a class="decrease" data-action="decrease-points" data-tooltip="{{tracker.decrease}}"></a>
            <a class="increase" data-action="increase-points" data-tooltip="{{tracker.increase}}"></a>
            <div class="result-buttons">
            <a class="result-button" data-action="cf" data-tooltip="{{localize 'pf2e-subsystem-hud.trackers.result.cf.hint'}}">
                {{localize 'pf2e-subsystem-hud.trackers.result.cf.label'}}
            </a>
            <a class="result-button" data-action="f" data-tooltip="{{localize 'pf2e-subsystem-hud.trackers.result.f.hint'}}">
                {{localize 'pf2e-subsystem-hud.trackers.result.f.label'}}
            </a>
            <a class="result-button" data-action="s" data-tooltip="{{localize 'pf2e-subsystem-hud.trackers.result.s.hint'}}">
                {{localize 'pf2e-subsystem-hud.trackers.result.s.label'}}
            </a>
            <a class="result-button" data-action="cs" data-tooltip="{{localize 'pf2e-subsystem-hud.trackers.result.cs.hint'}}">
                {{localize 'pf2e-subsystem-hud.trackers.result.cs.label'}}
            </a>
            </div>
        {{/if}}
    {{/if}}
</div>
{{/inline}}